@model MVC.ViewModels.forum
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>
@using (Html.BeginForm("Forum", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.Search)
                @Html.ValidationMessageFor(model => model.Search, "", new { })
                <input type="submit" value="搜尋" class="btn btn-success btn-sm">
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("SoftwareEnginering", "SoftwareEnginering", "Forum")
                </button>
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("OperatingSystem", "OperatingSystem", "Forum")
                </button>
            </td>
        </tr>
    </table>
}
<div class="container">
    <h1>OperatingSystem</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="user6">
                <img class="align-self-start mr-3" src="~/Pic/user6.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Mandy</h5>
                    <p>
                        我認為《架構》與《重構》是軟體工程裏最重要的部份
                        《架構才是王道》
                        「架構的存在目的是為了簡化管理，因為架構的本質就是在建立《分工》及《合作》 的
                        模式。」
                        架構將一個軟體系統拆開數個模組，模組與模組之間的交結處稱之為介面。
                        架構及介面的設計如果越能簡單明瞭，開發人員也就越容易明白自己及別人在做些什麼事
                        情。溝通的開發大型軟體最重要的一件事情，簡化溝通也就能簡化開發。所以軟體架構是
                        軟體工程最重要的一件事情，先談《架構》再來談《工程》這件事情。
                    </p>
                </div>
            </div>
            <div class="user3">
                <img class="align-self-start mr-3" src="~/Pic/user3.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Tom</h5>
                    <p>
                        你說的都沒錯，不過在"小"軟體的規模下，
                        老闆，就是付你錢的那個人會覺得這些是不重要的，
                        大部份公司寫的軟體都太小，
                        老闆寧願出事了，再找救火隊，
                        也不願平常就顧一兩個六位數的工程師在 hold住大局，
                        他們也知道啊！
                        不過他們會覺得這是可有可無的，
                        因為短期成本比請救火隊高很多，

                        那種感覺就是硬要用便宜的電源供應器，
                        而不使用貴又穩定的電源供應器，
                        所以難免會燒壞樣品的感覺一樣，
                        一分錢一分貨，尤其是突然的大電流常常會把ic推壞。

                        您的問題，
                        有點就像是去保險公司買保險，
                        平常沒問題時就是多付出，
                        出事了再找消防隊，就好，
                        雖然案子已經過deadline了，
                        不過你老闆評估後，
                        沒有比較虧，
                        ok的，
                        我們是工程師想法，
                        東西要品質，
                        要QA去Q，
                        開發的開始打好架構，
                        光是吃飯是沒用的= =

                        老闆要賺錢，
                        QA請22K工讀生去Q就好，
                        請專業的幹麻？
                        真的不行再電電工程師就好，
                        總之你老闆以短期來看都是賺的，

                        所以不難發現，
                        有很多SPEC有BUG的IC或chip讓人覺得很幹，
                        不過就是這些SPEC有BUG，
                        整合系統開發的人才有工作做啊哈哈！
                        然後不會解決問題的工程師發現跟spec做的不一樣，
                        就不會動了，
                        會解決問題的，就把spec改的跟ic一樣，
                        通常spec有錯，原來的公司也不會改ic，
                        將錯就錯，超機車的。
                    </p>
                </div>
            </div>
            <div class="user9">
                <img class="align-self-start mr-3" src="~/Pic/user9.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Jimmy</h5>
                    <p>
                        以前在上軟體工程課時候老師教了不少的模組(pattern)

                        老師說這些很重要

                        之後業界不少會採用這些模組來做開發

                        但是進去實驗室後發現專案並沒有使用模組

                        老闆說專案規模偏小因此不使用

                        問了網頁工程師的同學是否他目前工作會使用到模組

                        他說目前多人開發系統時候也沒有採用到這些模組

                        公司內部也沒有開這樣的相關課程

                        想問說在是要在規模多大、需要多少人力開發、或是什麼情況的時候才會使用到模組?

                        題外話想問說有公司採用敏捷式開發的心得感想嗎?
                    </p>
                </div>
            </div>
            <div class="user1">
                <img class="align-self-start mr-3" src="~/Pic/user1.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Tim</h5>
                    <p>
                        最主要還是看

                        (1) 你抱著什麼樣的心態去「上研究所」；例如，你是認為「我交了學費來上課，
                        學校就要把我教到會」，還是「我交了學費只是入場卷，真正要學到東西是除
                        了上課外，最主要是自己去挖東西 (作研究的態度、方法，與同儕切磋砥礪、
                        精益求精) 」。

                        (2) 你去上什麼樣的研究所；「業界」有分好幾種 (例如，公司業務位置於軟體產
                        業的上中下游，需要的戰力種類就不同) ，「學界」也一樣有分別。

                        然而，從你的文字裡讀起來的感覺是你還沒有把問題的全貌弄清楚 (可參考上面列
                        出的兩篇文，先了解 tech lead  的角色與職責) ，反而是先倒過來猜想「『讀CS
                        研究所』是不是答案？」，感覺上那是本末倒置。
                    </p>
                </div>
            </div>
            <div class="user4">
                <img class="align-self-start mr-3" src="~/Pic/user4.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">David</h5>
                    <p>
                        有人認為軟體工程如果是增加工程師的生產力, 提升公司團隊獲利
                        的競爭力, 只是一種硬體的思惟, 那麼 "軟體工程" 的訴求又是甚麼 ?
                        如果 "品質好 => 物美" , "生產力夠 => 價廉" 僅止於硬體的想法, 那
                        麼軟體的訴求是甚麼 ? "高附加價值", "LV , Chanel 的品牌" "iPOD"
                        然道這些對購買者都不算是 "物美價廉, 買得值得" 嗎 ?
                        SAP 的軟體產品可以賣給類似台積電, 中鋼這種大廠進行 ERP 自動
                        化, 可以獲得上億的價碼. 對這些公司言, 保證幾個月內上線正常運作,
                        比起搞上數年聘了一堆人還無法順暢運作不就是 "價廉物美" 嗎 ? 何況
                        SAP 也不是三年不開張, 開張吃三年, 而是獲利能力高強者之一.
                        那麼, 究竟甚麼才是軟工的正確思惟 ?
                    </p>
                </div>
            </div>
            <div class="user8">
                <img class="align-self-start mr-3" src="~/Pic/user8.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Belinda</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user5">
                <img class="align-self-start mr-3" src="~/Pic/user5.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Cammy</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user2">
                <img class="align-self-start mr-3" src="~/Pic/user2.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Amy</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user7">
                <img class="align-self-start mr-3" src="~/Pic/user7.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Henry</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ad1">
                <img class="img-thumbnail" src="~/Pic/test1.jpg">
            </div>
            <div class="ad2">
                <img class="img-thumbnail" src="~/Pic/test2.jpg">
            </div>
        </div>
    </div>
</div>

