@model MVC.ViewModels.forum
@{
    ViewBag.Title = "Forum";
}

<h2>Forum</h2>
@using (Html.BeginForm("Forum", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>
                @Html.TextBoxFor(model => model.Search)
                @Html.ValidationMessageFor(model => model.Search, "", new { })
                <input type="submit" value="搜尋" class="btn btn-success btn-sm">
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("SoftwareEnginering", "SoftwareEnginering", "Forum")
                </button>
                <button type="button" class="btn btn-link">
                    @Html.ActionLink("OperatingSystem", "OperatingSystem", "Forum")
                </button>
            </td>
        </tr>
    </table>
}
<div class="container">
    <h1>SoftwareEnginering</h1>
    <div class="row">
        <div class="col-lg-8">
            <div class="user1">
                <img class="align-self-start mr-3" src="~/Pic/user1.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Tim</h5>
                    <p>
                        從軟體開發的概念、專案管理開始介紹，開始進到這堂課的精髓：物件導向程式設計和De
                        sign pattern，每次上課都有很多事情要做，每次要做的也不太一樣，主要分成幾類：
                        1. 上課
                        2. 各組報告程式作業的design
                        3. 各組報告open source讀code進度
                        4. 現場小組做設計、寫code
                        會說不太一樣是因為通常會根據狀況和進度調整，有時候open source報很久，有時候寫c
                        ode寫比較久，也有時候兩個design pattern在十分鐘就講完


                        是很注重小組團隊合作的課，因為整個學期下來每個禮拜都要約討論作業design和projec
                        t，老師也鼓勵不同科系背景組隊，想法比較多元


                        教學風格上老師有時候蠻好笑的，都會和學生互動，上課氣氛大致不錯，但是也有時候對
                        於自己堅持的點很莫名，這學期有個同學比較低調但是很認真，學期末報告是老師就咬住
                        他對這位同學沒印象，一直懷疑他是不是都沒來上課很混
                    </p>
                </div>
            </div>
            <div class="user2">
                <img class="align-self-start mr-3" src="~/Pic/user2.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Amy</h5>
                    <p>
                        先回應你的兩個需求

                        1. 產業有前景，薪資有很高的發展空間

                        數位產業的爆炸成長紅利已經結束，以前隨便學、隨便做都能四萬，出去接案爽賺，
                        現在是成長速度趨緩、薪資福利回歸到正常水平的時期。

                        薪資我身邊非本科寫網頁app的經驗是

                        無經驗、有能demo的小專案
                        >> 32~40k 看過去的經驗，如果是理工科背景通常可以談比較高

                        一年經驗，有能力獨立作業
                        >> 45~55 看過去一年做過的專案深度、廣度、難度

                        三年經驗，是一個三年、不是三個一年
                        >> 年薪65~100萬，這個等級的工程師大概都談年薪了，有些有簽約金，
                        >> 看月薪不準

                        台灣非大公司「資深」工程師天花板大概120~140，
                        如果是管理職、有碰到商業面的，大部分落在120~180，
                        能突破200的是少數，不列為能規劃的範圍。

                        但以「努力可以達到」，我認為是落在120左右。

                        2.工作的專業有累積性，能延續到下一份工作上

                        完全沒問題，比起我之前做業務，要換另外一個產業幾乎砍掉重練，
                        我現在出去外面談工作機會，只會覺得越談越深、而不是一天到晚被嗆

                        ：你在我們這個產業就是一張白紙啊，我們要重新訓練...#$%^&*

                        比較能專注在彼此能一起做什麼事、解決什麼問題上面
                    </p>
                </div>
            </div>
            <div class="user3">
                <img class="align-self-start mr-3" src="~/Pic/user3.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Tom</h5>
                    <p>
                        我身邊的朋友不少人轉工程師，大部份轉成功、也有少數轉失敗的案例，

                        轉失敗的特徵通常是：

                        無法享受跟「程式」相處
                        初學程式的時候，都在學「程式」本身，還沒有學到「工程」，
                        建議在投入之前，先去 https://www.codecademy.com/ 玩一玩，
                        或是 coursera 的 Python for everybody 玩玩，
                        看看自己能不能喜歡上「程式」

                        工作上大部份在解決「工程」問題，
                        「寫程式」跟「工程」是不一樣的兩件事情，
                        寫程式通常是有趣的，因為很有創造力，容易帶來成就感
                        解決工程問題就不是每個人都愛，因為是使用別人的工具、框架下來解決問題，
                        這差異有機會再聊。


                        或是給自己過大的壓力、不合理的期限，
                        每個人學習速度不同，英文能力也不同，這行要一年做到年薪60萬以上，
                        英文閱讀能力差幾乎是不可能的，

                        技術文件全部是英文、解bug時要查的也都是英文，
                        如果英文閱讀、google能力不好，成長速度會比英文好的人緩慢很多。

                        要給自己足夠的轉職時間（要先存好錢）
                        然後最好能有工程師朋友願意面對面讓你請教。
                    </p>
                </div>
            </div>
            <div class="user4">
                <img class="align-self-start mr-3" src="~/Pic/user4.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">David</h5>
                    <p>
                        教主~請問一下嘿~

                        那個軟體工程老師指定要我們閱讀的電子書在哪裡可以取得呀?

                        我剛去逛了eip~在他的區域也找不到相關的電子書耶...

                        所以~老師要我們看的那些東西~

                        要去哪裡取得~可否指點一下呢~?


                        非常的感謝喔!!
                    </p>
                </div>
            </div>
            <div class="user5">
                <img class="align-self-start mr-3" src="~/Pic/user5.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Cammy</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user6">
                <img class="align-self-start mr-3" src="~/Pic/user6.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Mandy</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user7">
                <img class="align-self-start mr-3" src="~/Pic/user7.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Henry</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user8">
                <img class="align-self-start mr-3" src="~/Pic/user8.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Belinda</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
            <div class="user9">
                <img class="align-self-start mr-3" src="~/Pic/user9.jpg" alt="Generic placeholder image">
                <div class="media-body">
                    <h5 class="mt-0 text-success">Jimmy</h5>
                    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                    <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ad1">
                <img class="img-thumbnail" src="~/Pic/test1.jpg">
            </div>
            <div class="ad2">
                <img class="img-thumbnail" src="~/Pic/test2.jpg">
            </div>
        </div>
    </div>
</div>